/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/* 
*Aqui empieza el proyecto
*/

:root {
  --dark-blue: rgba(38, 64, 101, 1);
  --gray: rgba(250, 248, 245, 1);
  --gray2: rgba(144, 144, 144, 1);
  --white: #F5F5F5;
  --black: rgba(0, 0, 0, 1);
  --cyan: rgba(169, 214, 203, 1);
  --poppins-regular: "Poppins", sans-serif;
  --nunito-sans: "Nunito Sans", sans-serif;
  --white-blur: rgba(255, 255, 255, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--poppins-regular);
  background-image: 
    url('../img/fondo-mujer.png'), url('../img/background.svg');
  background-position: 225px -40px, top right;
  background-size: 1340px 900px, 100% auto;
  background-repeat: no-repeat, no-repeat; 
}

.container {
  width: 85%;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  padding: 30px 0px; 
  margin-bottom: 60px;
  gap: 190px;
}

header nav {
  margin-right: 80px;
}

header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 28px;
}

header nav ul li a {
  font-size: 14px;
  text-decoration: none;
  color: var(--dark-blue);
}

header aside {
  display: flex;
  align-items: center;
  gap: 48px; 
}

header aside .iconos {
  display: flex;
  gap: 22px; 
}

header aside .registro {
  display: flex;
  align-items: center;
  gap: 22px; 
}

header aside .registro a:first-child {
  font-size: 12px;
}

header aside .registro a+a {
  background-color: var(--dark-blue);
  font-size: 12px;
  color: var(--white);
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
}

.hero{
  display: relative;
}

.hero .descripcion{
  width: 600px;
  margin-bottom: 70px;
}

.hero .descripcion h1{
  font-size: 48px;
  color: var(--dark-blue);
  margin-bottom: 28px;
}

.hero .descripcion p{
  font-size: 19px;
  color: var(--gray2);
  margin-bottom: 42px;
}

.hero .descripcion div{
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero .descripcion a:first-child {
  font-size: 14px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--dark-blue);
  padding: 14px 35px;
  border-radius: 25px;
}

.hero .descripcion div a:last-child {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;
  text-decoration: none;
}

.hero .descripcion div a:last-child img {
  background-color: white;
  padding: 6px;
  border-radius: 50%;
}

.hero .caracteristicas {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  gap: 55px;
  width: 500px;
}

.hero .caracteristicas>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.hero .caracteristicas>div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hero .caracteristicas>div div h3 {
  font-size: 25px;
  color: var(--dark-blue);
  margin: 0;
  font-weight: 500;
}
  
.hero .caracteristicas>div div p {
  font-size: 14px;
  color: var(--gray2);
  margin: 0;
}

.hero .comentarios {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1000px;
  top: 350px;
  width: 400px;
  gap: 50px;
}

.hero .comentarios div {
  background-color: var(--white-blur);
  display: flex;
  flex-direction: column;
  width: 340px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 16px;
  gap: 10px;
}

.hero .comentarios div:first-child {
  margin-left: 140px;
}

.hero .comentarios>div p {
  color: var(--black);
  font-size: 15px;
}

.hero .comentarios>div h4 {
  color: var(--dark-blue);
  font-size: 14px;
  margin: 0;
}





